<!doctype html>
<html>
  <head>
    <script src='/homey.js' data-origin='settings'></script>
    <link rel='stylesheet' href='../assets/semantic-custom.min.css'>
    <script src='../assets/vue.min.js'></script>
  </head>
  <body>
    <div id='app-settings-view'>
      <div class='ui top attached tabular menu'>
        <div class='item' data-tab='settings'>Settings</div>
        <div class='item' data-tab='sniffer'>RF Sniffer</div>
      </div>
      <div class='ui bottom attached tab segment' data-tab='settings'>
        <div class='ui message'>
          <div class='header'>
            Nothing to see here yet.
          </div>
        </div>
      </div>
      <div class='ui bottom attached active tab segment' data-tab='sniffer'>
        <div v-if='! rfDevices.length' class='ui negative message'>
          <div class='header'>
            No RF devices found
          </div>
        </div>
        <div v-else class='ui grid'>
          <div class='row'>
            <div class='column'>
              <table class='ui compact blue table unstackable'>
                <thead>
                  <tr>
                    <th></th>
                    <th>Device</th>
                    <th>Timestamp</th>
                    <th>Sync (ms)</th>
                    <th>Low (ms)</th>
                    <th>High (ms)</th>
                    <th>Code</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for='entry in snifferLog'>
                    <td>{{ entry.index }}.</td>
                    <td v-bind='{ title : entry.device.id }'>{{ entry.device.name }}</td>
                    <td>{{ new Date(entry.timestamp).toString() }}</td>
                    <td>{{ entry.sync }}</td>
                    <td>{{ entry.low }}</td>
                    <td>{{ entry.high }}</td>
                    <td>{{ entry.code }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function onHomeyReady(Homey) {
        Homey.ready();
        new Vue({
          el      : '#app-settings-view',
          data    : {
            rfDevices    : [],
            snifferLog   : [],
            snifferIndex : 0,
          },
          mounted() {
            this.initializeTabs();
            // Retrieve list of RF-enabled devices.
            Homey.api('GET', '/rf-devices/', (err, devices) => {
              if (err) return Homey.alert(err);
              this.rfDevices = devices;
              if (devices.length) {
                this.activate('sniffer');
                Homey.on('rf.receive', data => {
                  this.snifferLog.unshift({
                    index : ++this.snifferIndex,
                    ...data
                  });
                  if (this.snifferLog.length > 25) {
                    this.snifferLog.length = 25;
                  }
                });
              } else {
                this.activate('settings');
              }
            });
          },
          methods : {
            initializeTabs() {
              let items = document.querySelectorAll('.tabular .item');
              items.forEach(item => {
                let tab = item.getAttribute('data-tab');
                item.onclick = () => this.activate(tab);
              });
            },
            activate(which) {
              let nodes = document.querySelectorAll('.tab.segment,.tabular .item');
              nodes.forEach(node => {
                if (node.getAttribute('data-tab') === which) {
                  node.classList.add('active');
                } else {
                  node.classList.remove('active');
                }
              });
            }
          }
        });
      }
      if (typeof Homey === 'undefined') {
        Homey = {
          ready: () => {},
          api  : (method, endpoint, callback) => {
            return callback(null, [
              { id : 'foo',  name : 'Foo Device' },
              { id : 'bar',  name : 'Bar Device' },
              { id : 'blah', name : 'Blah Device' },
            ]);
          }
        };
        onHomeyReady(Homey);
      }
    </script>
  </body>
</html>
